{{define "head"}}
<script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@latest/ws.min.js"></script>
{{end}}

{{define "title"}}
{{.Title}}
{{end}}

{{define "content"}}
    <h1 class="text-2xl font-bold">{{.Title}}</h1>

    <div class="flex flex-col flex-wrap gap-4" hx-ext="ws" ws-connect="/ws">
        <div id="updated-timestamp">
            {{template "updated-card" .UpdateTsRFC3339}}
        </div>
        <div id="system-info">
            {{template "info-card" .DashboardInfo.SystemInfo}}
        </div>
        <div id="cpu-usage">
            {{template "cpu-usage-card" .DashboardInfo.CPUPercents}}
        </div>
    </div>
{{end}}
